.nav-tabs {
  margin: 30px auto;
}
.nav-tabs > li {
  margin-left: -1px;
}
.nav-tabs > li:first-child > a {
  border-radius: 0;
}
.nav-tabs > li:first-child > a:before {
  display: none;
}
.nav-tabs > li:last-child > a:after {
  box-shadow: none;
}
.nav-tabs > li > a {
  padding: 15px 30px 15px 50px;
  background-color: #D9D9D9;
  color: black;
  border: 0;
  position: relative;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:active, .nav-tabs > li > a:focus {
  background-color: #D9D9D9;
  color: black;
  border: 0;
}
.nav-tabs > li > a:before {
  content: " ";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 40px;
  background-color: #D9D9D9;
  transform: skewX(35deg);
}
.nav-tabs > li > a:after {
  content: " ";
  position: absolute;
  right: -20px;
  background-color: #D9D9D9;
  top: 0;
  height: 100%;
  width: 40px;
  transform: skewX(35deg);
  box-shadow: 3px 0px 0 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.nav-tabs > li.active {
  margin-top: -11px;
}
.nav-tabs > li.active > a {
  border: 0;
  background-color: #DE470F;
  color: white;
  padding: 15px 30px 15px 50px;
  font-size: 22px;
  border-radius: 0;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:active, .nav-tabs > li.active > a:focus {
  background-color: #DE470F;
  color: white;
  border: 0;
}
.nav-tabs > li.active > a:before {
  display: none;
}
.nav-tabs > li.active > a:after {
  right: -25px;
  width: 50px;
  background-color: #DE470F;
  z-index: 1;
}
.register_lth{
  padding: 10px;
  position: relative;
  width: inherit;
  min-height: 60px;
  /*background: #de470f78;*/
  /*color: #fff;*/
}
.register_icon{
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
.table_lth th, .table_lth td{
  padding: 0px !important;
}
.register_display{
  opacity: 0;
  display: none;
  transition-duration: 500ms;
  color: #de470f;
}
.register_lth:hover .register_display{
  display: block; 
  cursor: pointer;
  transition-duration: 500ms;
  color: #de470f;
  opacity: 1;

}
.filter_lth{
  margin-top: 77px;
  padding: 10px;
  border-radius: 5px;
  background: #de470f;
  color: #fff;
  height: calc(100vh - 100px)
}